<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script src="//use.typekit.net/ify3ccf.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="{{page.layout}}">
    <header class="includes_wrap">
      <div class="head_mama">
        <div class="logo">
          <h3>Dawn Delatte</h3>
          <h4>UI / Web Designer</h4>
        </div>
        <nav class="head_nav">
          <ul>
            <li> <a href="/index.html">portfolio</a></li><!--
            --><li> <a href="../journal.html">journal</a></li><!--
            --><li> <a href="../about.html">about</a></li><!--
            --><li> <a href="../contact.html">contact</a></li>
          </ul>
        </nav>
      </div>
    </header>