/*=============== global ===============*/

.includes_wrap {
	width: 90%;
	margin: 0 auto;
	max-width: 900px;
}

/*========== header ==========*/

.mama {
	overflow: hidden;
	padding: 2em 0;

.logo {
	// float: left; /*This belongs in another query- don't forget to take off margin-bottom*/

	margin-bottom: 2em;
}

.head_nav {

	// float:right;

	li {
		display: inline-block;
		margin-right: .5em;

		&:last-of-type{
		margin-right: 0;
	   }

	   a {
	   	text-decoration: none;
	   }
	}
}
}