/*Color Variables*/

$block_highlight: rgb(212, 191, 198);
$text_highlight: rgb(52, 166, 206);

$lt_text: rgb(255, 255, 255);
$dk_text: rgb(93, 91, 90);

/*Type Variables*/

$primary: "neuzeit-grotesk", sans-serif;

/*=============== global ===============*/
body {


    img {
        max-width: 100%;
    }
}

/*========== wrappers ==========*/

.includes_wrap, .wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

.about_wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 760px;
}

.post_wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
}

.spiceworks_mama {
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}



/*========== header ==========*/

.head_mama {
    overflow: hidden;
    padding: 2rem 0;

    .logo {
        float: left;
        margin-bottom: 2rem;
        width: 40px;
    }

    svg {
        width: 40px;
        float: left;
    }
}


/*========== footer ==========*/

footer {
    background-color: #5d5b5a;
    overflow: hidden;
    clear: both;
    // margin-top: 5rem;
}

.foot_mama {
    overflow: hidden;
    clear: both;
    padding: 5rem 0;
}

.social_nav {
    overflow: hidden;
    padding-bottom: 4rem;
        
        li {
            float: left;
            width: 100%;
            max-width: 35px;
            margin-right: 35px;
    
            &:last-of-type {margin-right: 0;}
    
            a{display: block;}
        }
}

.foot_nav {
    clear:both;
}

/* Below is code for flexbox...still working this out - it's too buggy for now */

// .foot_mama {
//   overflow: hidden;
//   clear: both;
//   padding: 5em 0;
//   display: flex;
//   flex-direction: column;
//   max-width: 90%;
//   margin-right: auto;
//   margin-left: auto;
// }

// .social_nav {
//     padding-bottom: 4em;

//   ul {
//     display: flex;
//     justify-content: flex-start;
//     li {
//       flex: 0 0 35px;
//       margin-right: 35px;
//       &:last-of-type{
//         margin-right: 0;
//       }
//     }
//   }
// }



/*========== portfolio/home page ==========*/

.thumbnails_mama {
    margin: 4rem 0;
}

.port_thumbnails {
    display: block;
    width: 100%;
    height: 300px;
    text-decoration: none;

     &:visited { color: white;}
}

/*====== portfolio thumbnails ======*/

.br_thumb {
    background: url(../project_assets/portfolio_thumbnails/bagel_portfolio_thumbnail.png) no-repeat center;
    background-size: cover;
}

.fqf_thumb {
    background: url(../project_assets/portfolio_thumbnails/fqf_portfolio_thumbnail.jpg) no-repeat center;
    background-size: cover;
}

.goodreads_thumb {
    background: url(../project_assets/portfolio_thumbnails/goodreads_portfolio_thumbnail.png) no-repeat center;
    background-size: cover;
}

.shero_thumb {
    background: url(../project_assets/portfolio_thumbnails/shero_portfolio_thumbnail.jpg) no-repeat center;
    background-size: cover;
}

.abgb_thumb {
    background: url(../project_assets/portfolio_thumbnails/abgb_portfolio_thumbnail.png) no-repeat center;
    background-size: cover;
}

.csszen_thumb {
    background: url(../project_assets/portfolio_thumbnails/csszen_portfolio_thumbnail.jpg) no-repeat center;
    background-size: cover;
}

.overlay {
   height: 100%;
   background:rgba(212,191,198,.85);
   opacity:0;
   -webkit-transition: opacity 500ms ease;
   -moz-transition: opacity 500ms ease;
   -o-transition: opacity 500ms ease;
   transition: opacity 500ms ease;
   overflow: hidden;
}

.overlay:hover {
  opacity: 1;
}

/*========== below is old code - from master -- to get mvp out there asap ==========*/

/*=============== JOURNAL ===============*/

.post-content {

    margin-bottom: 5rem;

    h1 {
        margin-bottom: 2rem;
    }
    p {
        margin: 1rem 0;
    }
}

.post-header p {
    margin: .25rem 0 2rem 0;
}

.pagination {
    background: rgba(212,191,198,.75);
    margin-top: 2rem;
    padding: 2.5rem;
    clear: both;
    text-align: center;

    a {
        text-decoration: none;
        font-family: $primary;
    }
}


.post_mama {
    overflow: hidden;
    clear: both;
    padding-bottom: 1rem;

}

.post-content {
    img {
        width: 100%;
        max-width: 100%;
        margin-bottom: .75rem;
    }
}

.post-list li {
    font-weight: 300;
    padding: .5rem;
    margin-top: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}


/*============ PROJECT ==============*/


.port_mama, .project_mama {
    margin-bottom: 5rem;
}

.main_project_image {
    margin: 1rem 0; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.sub_project_image {
    margin: 1rem 0;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

.margin_hack {
    margin-top: 1rem;
}

.project_bubble_right p, .project_bubble_left p {margin-bottom: 2em;}

.project_statement {
    clear: both;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;

    ul { 

        overflow: hidden;
        margin: 2rem 0 4rem 0;
    }

    li {
        margin-bottom: 1.2rem;
        list-style-type: disc;
        list-style-position: inside;
    }

    h2 {
        margin-bottom: 1.5rem;
    }
}

.sub_mama {
    margin: 0 auto;
}

.sub_mama1, .sub_mama2, .sub_mama3, .sub_mama4 {
    margin-bottom: 4rem;
}

/*========== ABOUT ============*/

.about_intro {
    background: rgba(212,191,198,.85);
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.about_mama p{
    margin: 2rem 0;
}

.about_image {
    max-width: 450px;
    margin: 0 auto;
}

.about_mama {
    margin-bottom: 5rem;
    max-width: 800px;
}


/*========== some code for hidden spiceworks stuff ============*/

.spiceworks_mama img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    padding-bottom: 2em;
    
}

.spiceworld, .reports_web, .ads_emails, .events {
    margin-bottom: 6em;

        h3 {
            margin-bottom: 1em;
        }
}










