
/*Variables*/

$lt_yellow: rgb(245, 246, 141);
$cobalt: rgb(1, 4, 156);
$teal: rgb(15, 187, 163);

$primary_text: rgb(77, 76, 76);



h1, h2, h3, p, a {
	color: $primary_text;
}

h4 {
	color: lighten($primary_text, 30%);
}

.social:hover {
	background-color: $teal;
}

.head_nav li a:hover {

	color: lighten($primary_text, 30%);
}

.post-list li {

	    p, a {
        color: lighten($primary_text, 60%);
    }
}

.snippets:hover {
    background-color: rgba(76, 76, 76, 0.5);
}

.project_title h3 {
 	color: lighten($primary_text, 60%);
}
.side_projects h2, .side_projects p {
	color: lighten($primary_text, 60%);
}

.skills ul li, .skills h4{
	color: $primary_text;
}