// /*Variables*/

// $block_highlight: rgb(212, 191, 198);
// $text_highlight: rgb(52, 166, 206);

// $lt_text: rgb(255, 255, 255);
// $dk_text: rgb(93, 91, 90);


/*General*/

h1, h2, h3, h4, p, li {
	color: black;
}

a, span {
	color: rgb(228, 140, 140);
}

a:hover {color: darken(rgb(228, 140, 140), 10%);}



/*Gettin' specific*/

.navmama {
	color: $dk_text;
	a {
		color: $dk_text;
		&:visited{color:$dk_text;}
		&:hover{color: lighten($dk_text, 15%);}
	}
}

footer{

	p {color: $lt_text;}
}


.title {
	color:$lt_text;
}


.description {
	color: $dk_text;
	&:hover{color: $dk_text;}
	&:visited{color: $dk_text;}

}

.post-meta { color: $dk_text;}

// .about_intro_text a {
// 	color: $dk_text;
//
// 	&:hover {
// 		color: lighten($dk_text, 15%);
// 	}
// }

.pagination a {color: $dk_text;}
