
/*Variables*/

$lt_yellow: rgb(245, 246, 141);
$cobalt: rgb(1, 4, 156);
$teal: rgb(15, 187, 163);

$primary_text: rgb(77, 76, 76);
$secondary_text: rgb(227, 225, 225);


h1, h2, h3, h4, p, a {
	color: $primary_text;
}