/*=============== Jacques and Julia ===============*/

.jj_main {

	background-image: url(../project_assets/jj_fullpage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 1500px;
}

@media screen and (min-width:900px) {
	.jj_main {
		width: 55%;
	}
}