

.jj_snip {
	background-image: url(../project_assets/jj_fullpage.jpg);

	&:hover {
		background-image: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 225, 0.5)), url(../project_assets/jj_fullpage.jpg);
	}
}
.zen_snip {
	background-image: url(../project_assets/zengarden.png);
		&:hover {
		background-image: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 225, 0.5)), url(../project_assets/zengarden.png);
	}
}

.fqf_snip {
	background-image: url(../project_assets/fqf_homepage.jpg);
		&:hover {
		background-image: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 225, 0.5)), url(../project_assets/fqf_homepage.jpg);
	}
}

.abgb_snip  {
	background-image :url(../project_assets/abgb_menu1.jpg);
	&:hover {
		background-image: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 225, 0.5)), url(../project_assets/abgb_menu1.jpg);
	}
}

.sheroe_snip {
	background-image: url(../project_assets/sheroehome.jpg);
	&:hover {
		background-image: linear-gradient(rgba(225, 225, 255, 0.5), rgba(225, 225, 225, 0.5)), url(../project_assets/sheroehome.jpg);
	}
}	


@media screen and (min-width:900px) {
	.jj_main {
		// width: 55%;
		float: left;
		margin-bottom: 3em;
	}

	.project_main, .zen_main, .fqf_main, .abgb_main, .sheroe_main {
        float: left;
        width: 55%;
    }

	.zen_sub1, .fqf_sub1, .abgb_sub1, .sheroe_sub1 {
		clear:both;
		float: left;	
		width: 45%;
		margin-right: 10%;
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.zen_sub2, .fqf_sub2, .abgb_sub2, .sheroe_sub2 {
		float: left;	
		width: 45%;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}