/*========== medium breakpoint ==========*/

@media screen and (min-width: 650px) {
    /*========JOURNAL=======*/
    .post-list li {
        height: 200px;
        width: 45%;
        float: left;
        margin-right: 10%;
        &:nth-of-type(2n+3) {
            margin-right: 0;
        }
    }
    .logo {
        margin-bottom: 0;
        float: left;
    }
    .social {
        float: left;
    }
    footer h4 {
        float: right;
    }
    .follow {
        float: none;
        width: 50%;
    }
    .about_bubble {
        width: 45%;
        float: left;
        margin-left: 10%;
    }
    /*======PORTFOLIO=====*/
    .snippets {
        width: 45%;
        float: left;
        margin-right: 10%;
        &:nth-of-type(2n+2) {
            margin-right: 0;
        }
    }
    .skills_mama {
        overflow: hidden;
        ul {
            width: 45%;
            margin-right: 10%;
            float: left;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .nola_atx {
        width: 60%;
    }
    .project_statement {
    li {width: 50%; float: left;}
    h2 {clear: both;}
}
}


/*==========large breakpoint ==========*/

@media screen and (min-width: 900px) {
    footer {
        .follow {
            float: left;
        }
        .foot_mama .powered {
            width: 30%;
            float: right;
            clear: none;
        }
    }
    /*======JOURNAL=====*/
    .post-list li:nth-of-type(2n+3) {
        margin-right: 5%;
    }
    .post-list li {
        height: 200px;
        width: 30%;
        float: left;
        margin-right: 5%;
        &:nth-of-type(3n+4) {
            margin-right: 0;
        }
    }
    /*======PORTFOLIO=====*/
    .snippets:nth-of-type(2n+2) {
        margin-right: 5%;
    }
    .snippets {
        width: 30%;
        float: left;
        margin-right: 5%;
        &:nth-of-type(3n+3) {
            margin-right: 0;
        }
    }
    .project_bubble_right {
        float: left;
        width: 40%;
        margin-left: 1%;
        &::after {
            content: '';
            border-width: 15px 20px 15px 0;
            border-color: transparent rgb(245, 246, 141);
            margin-left: 0;
            margin-top: -15px;
            left: -20px;
            top: 24%;
        }
    }
    .project_bubble_left {
        float: left;
        width: 40%;
        margin-left: 1%;
        &::after {
            content: '';
            border-width: 15px 0 15px 20px;
            border-color: transparent rgb(245, 246, 141);
            left: 103%;
            top: 33%;
        }
    }
    /*==========ABOUT=========*/
    .about_face {
        float: left;
        margin-right: 5%;
    }
    .story {
        float: left;
        &::after {
            border-width: 15px 20px 15px 0;
            border-color: transparent rgb(245, 246, 141);
            margin-left: 0;
            margin-top: -15px;
            left: -20px;
            top: 50%;
        }
    }
    .skills {
        clear: both;
        height: 550px;
        width: 48%;
        float: left;
        margin-right: 4%;
    }
    .side_projects {
        width: 48%;
        height: 550px;
        float: left;
    }
}