/*! responsive-nav.js 1.0.38 by @viljamis */
.navmama {
    float: right;
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

.nav-collapse li {
    display: block;
    margin-bottom: 1em;
    text-align: right;

    &:last-of-type {margin-right: 0px;}
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    clear: both;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: right;
    display: block;
    font-size: 1.5em;
    font-family: "neuzeit-grotesk", sans-serif;
    text-decoration: none;
    margin-bottom: 1.5em;
}


// #hamburger {
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -moz-user-select: none;
//     -ms-user-select: none;
//     user-select: none;
//     display: block;
//     width: 70px;
//     height: 55px;
//     float: right;
//     margin: 0 -2em 1em 0;
//     text-indent: -9999px;
//     overflow: hidden;
//     background: #444 url("https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png") no-repeat 50% 33%;
// }


@media screen and (min-width: 800px) {

    .navmama {width: 222px;}

    .nav-collapse li {
        float: left;
        margin-right: 10%;
        padding-bottom: 7px;
        &:last-of-type {
            margin-right: 0;
        }
        // &:nth-of-type(4)::after {
        //     display: none;
        // }

        // &:hover {
        //     border-bottom: 3px solid rgb(1, 4, 156);
        // }
    }
    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none;
    }
}