/*========== medium breakpoint ==========*/

@media screen and (min-width: 650px) {
    .foot_mama ul {
        float: left;
        width: 50%;
    }

/*========JOURNAL=======*/

    .post-list li {
        height: 200px;
        width: 45%;
        float: left;
        margin-right: 10%;
        &:nth-of-type(2n+3) {
            margin-right: 0;
        }
    }
    .logo {
        margin-bottom: 0;
        float: left;
    }
    .head_nav {
        float: right;
    }
    .social {
        float: left;
    }
    h4 {
        float: right;
    }
    .follow {
        float: none;
    }
    .about_bubble {
        width: 45%;
        float: left;
        margin-left: 10%;
    }
 /*======PORTFOLIO=====*/

    .snippets {
        width: 45%;
        float: left;
        margin-right: 10%;
        &:nth-of-type(2n+2) {
            margin-right: 0;
        }
    }
}

/*==========large breakpoint ==========*/

@media screen and (min-width: 900px) {

 /*======JOURNAL=====*/
    .post-list li:nth-of-type(2n+3) {
        margin-right: 5%;
    }
    .post-list li {
        height: 200px;
        width: 30%;
        float: left;
        margin-right: 5%;
        &:nth-of-type(3n+4) {
            margin-right: 0;
        }
    }

/*======PORTFOLIO=====*/

    .snippets:nth-of-type(2n+2) {
        margin-right: 5%;
    }
    .snippets {
        width: 30%;
        float: left;
        margin-right: 5%;
        &:nth-of-type(3n+3) {
            margin-right: 0;
        }
    }
    .project_container {
        float: left;
        width: 55%;
    }
    .project_bubble_right {
        float: left;
        width: 20%;
        margin-left: 1%;
        max-width: 300px;
        &::after {
            content: '';
            border-width: 15px 20px 15px 0;
            border-color: transparent rgb(245, 246, 141);
            margin-left: 0;
            margin-top: -15px;
            left: -20px;
            top: 24%;
        }
    }
    .project_bubble_left {
        float: left;
        width: 20%;
        margin-right: 1%;
        max-width: 300px;
        &::after {
            content: '';
            border-width: 15px 0 15px 20px;
            border-color: transparent rgb(245, 246, 141);
            margin-left: 0;
            bottom: 0;
            left: 0;
            margin-top: -15px;
            right: -20px;
            top: 24%;
        }
    }

 /*==========ABOUT=========*/

    .about_face {
        float: left;
        width: 45%;
        margin-right: 5%;
    }
    .story {
        float: left;
        width: 50%;

        &::after {
            border-width: 15px 20px 15px 0;
            border-color: transparent rgb(245, 246, 141);
            margin-left: 0;
            margin-top: -15px;
            left: -20px;
            top: 50%;
        }
    }
    .skills {
        clear: both;
    }
}