---
layout: about
---
{% include header.html %}
<div class="wrapper about_mama" id="top">
	<div class="about_face">
		<img src="../site_assets/dawn_outside.jpg" alt="photo of Dawn Delatte">
	</div>
	  <div class="hi_there">
    <h1>Hi there, I'm Dawn.</h1>
      <p>I'm a graduate of the User Interface Design course at <a href="http://theironyard.com/locations/austin/">The Iron Yard</a> here in Austin, Texas. I love diving deep into the creative process and finding new ways to solve problems—whether it's design , cooking , or making puns out of pop songs and coding syntax.</p>
  </div>
<!-- 	<div class="story">
		<h2>Well, how did I get here?</h2>
		<div class="nola_atx"></div>
		<p>I grew up in New Orleans and left home at 18 to move all around the south, perusing a degree in Fine Arts. In 2010 my Husband and I, along with our dog and cat, packed up our things and moved to the “big city”. I fell in love with Austin, and web design, and haven't looked back since.</p>
	</div> -->
	<div class="skills">
		<h2>I’ve got skills, they’re multiplyin’</h2>
		<div class="skills_mama">
			<ul>
				<li>UI Design</li>
				<li>HTML &amp; CSS3</li>
				<li>Sass</li>
				<li>Responsive Design</li>
				<li>Typography</li>
				<li>Git &amp; Github</li>
				<li>Photoshop &amp; Illustrator</li>
			</ul>
			<ul>
				<li>Project planning and organization</li>
				<li>Communication</li>
				<li>Self Assessment</li>
				<li>Collaborative</li>
			</ul>
		</div>
	</div>
	<div class="side_projects">
		<h2>In Progress...</h2>
		<p>Workin’ on learning more Javascript, jQuery, SVG animation, and delving deeper into branding and print design.</p>
		<p>Current life goals include learning French, traveling more, and integrating Art and Design to create socially interactive digital projects focusing on urban and cultural development.</p>
		<p>Stay tuned for side projects and new discoveries!</p>
	</div>
</div>


{% include footer.html %}