---
layout: about
---
{% include header.html %}
<div class="wrapper about_mama">
	<div class="about_face">
		<img src="../site_assets/dawn_outside.jpg">
	</div>
	
	<div class="story">
		<h2>Well, how did I get here?</h2>
		<p>Harum convenire vis te, mei te erat labores. Ubique adversarium eum no, est at nulla eleifend. Ei sit vitae volumus qualisque, soleat albucius neglegentur vim ad, possit integre voluptua ex sed. Civibus atomorum cu sit, dicam euismod apeirian sea ad. At odio instructior est, in vel unum nihil, ut singulis referrentur eos. Sea an elaboraret suscipiantur.</p>
	</div>
	<div class="skills">
		<h2>I’ve got skills, they’re multiplyin’</h2><p>Harum convenire vis te, mei te erat labores. Ubique adversarium eum no, est at nulla eleifend. Ei sit vitae volumus qualisque, soleat albucius neglegentur vim ad, possit integre voluptua ex sed. Civibus atomorum cu sit, dicam euismod apeirian sea ad. At odio instructior est, in vel unum nihil, ut singulis referrentur eos. Sea an elaboraret suscipiantur.</p>
		
	</div>
	<div class="side_projects">
		<h2>En progression...</h2>
		<p>Harum convenire vis te, mei te erat labores. Ubique adversarium eum no, est at nulla eleifend. Ei sit vitae volumus qualisque, soleat albucius neglegentur vim ad, possit integre voluptua ex sed. Civibus atomorum cu sit, dicam euismod apeirian sea ad. At odio instructior est, in vel unum nihil, ut singulis referrentur eos. Sea an elaboraret suscipiantur.</p>
<!-- 		<div class="currently_photos"><img src="../site_assets/herbie.jpg"></div>
		<div class="currently_photos"><img src="../site_assets/cleese.jpg"></div> -->
	</div>
	</div>

{% include footer.html %}