---
layout: about
---
{% include header.html %}
<div class="wrapper about_mama">
	<div class="about_face">
		<img src="../site_assets/dawn_outside.jpg" alt="photo of Dawn Delatte">
	</div>
	
	<div class="story">
		<h2>Well, how did I get here?</h2>
		<div class="nola_atx"></div>
		<p>I grew up in New Orleans and left home at 18 to move all around the south, perusing a degree in Fine Arts. In 2010 my Husband and I, along with our dog and cat, packed up our things and moved to the “big city”. I fell in love with Austin, and web design, and haven't looked back since.</p>
	</div>
	<div class="skills">
		<h2>I’ve got skills, they’re multiplyin’</h2>
		<div class="skills_mama">
		<ul>
<!-- 			<li><h4>Web Design Skills</h4></li> -->
			<li>/ HTML/CSS3</li>
			<li>/ Sass</li>
			<li>/ UI Design</li>
			<li>/ Responsive Design</li>
			<li>/ Typography</li>
			<li>/ Git &amp; Github</li>
			<li>/ Photoshop &amp; Illustrator</li>
		</ul>

		<ul>
<!-- 			<li><h4>Soft Skills</h4></li> -->
			<li>/ Project planning and organization</li>
			<li>/ Communication</li>
			<li>/ Self Assessment</li>
			<li>/ Collaborative</li>
		</ul>
		</div>
	</div>
	<div class="side_projects">
		<h2>En progression...</h2>
		<p>Workin’ on learning more Javascript, using Bourbon, and delving into print design.</p>
		<p>Current life goals include learning French, traveling more, and intergrating Art and Design to create socially interactive digital projects focusing on urban and cultural development.</p>
		<p>Stay tuned for side projects and new discoveries!</p>

	</div>
	</div>
		<div class="wrapper contact">
	<h1>contact</h1>
	<p>Wanna chat? Feel free to contact me via <a href="https://twitter.com/dawndig">twitter</a> or fill out the quick form below. You can checkout my r&eacute;sum&eacute; <a href="#">here</a>!</p>

	<!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://dawn18.typeform.com/to/iDF9jI" data-text="journal/portfolio contact form" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
    <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;">Powered by <a href="http://www.typeform.com/?utm_campaign=typeform_iDF9jI&amp;utm_source=website&amp;utm_medium=typeform&amp;utm_content=typeform-embedded&amp;utm_term=English" style="color: #999" target="_blank">Typeform</a></div>

</div>

{% include footer.html %}