---
layout: journal
---
{% include header.html %}
<div class="wrapper">
  <div class="hi_there">
    <h1>Hi there, I'm Dawn.</h1>
      <p>I'm currently studying User Interface Design at The Iron Yard here in Austin, Texas. I love diving deep into the creative process and finding new ways to solve problems—whether it's web design , cooking , or making puns out of pop songs and coding syntax.</p>
  </div>
  <div class="post_mama">
    <h2>Latest Entry</h2>
    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h3>
          <p>{{ post.content | strip_html | truncate: 50 }}</p>
        </li>
      {% endfor %}
    </div>
  </div>
  {% include footer.html %}