---
layout: journal
---

{% include header.html %}

<div class="wrapper">
<div class="about">
<h2>Hi y'all, I'm Dawn</h2>
<img src="../site_assets/dawn.jpg">
<div class="about_bubble">
<p>Lorem ipsum dolor sit amet, sit cibo eius dolorum te. Est recteque periculis ei. Illud erant omittantur mel ut, duo sumo quas offendit eu, cu vix placerat moderatius dissentias. In ignota libris doming qui. Usu utinam altera te, eos et officiis salutatus.</p>
</div>
</div>

<h2>Latest Entry</h2>

<div class="post_mama">
	<ul class="post-list">
    {% for post in site.posts %}
    	<li>
        	<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        	<h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
          <p>{{ post.content | strip_html | truncate: 50 }}</p>
        </li>
    {% endfor %}
  </div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  </div>
      {% include footer.html %}