---
layout: portfolio
---

{% include header.html %}

<div class="wrapper portfolio_mama">
<h1>portfolio</h1>

<div class="snippets">
<a href="../portfolio/project.html">
	<div class="project_title"><h3>Project Title</h3></div>
</a>
</div>

<div class="snippets">
<a href="../portfolio/project.html">
	<div class="project_title"><h3>Project Title</h3></div>
</a>
</div>

<div class="snippets">
<a href="../portfolio/project.html">
	<div class="project_title"><h3>Project Title</h3></div>
</a>
</div>

<div class="snippets">
<a href="../portfolio/project.html">
	<div class="project_title"><h3>Project Title</h3></div>
</a>
</div>

<div class="snippets">
<a href="../portfolio/project.html">
	<div class="project_title"><h3>Project Title</h3></div>
</a>
</div>
</div>


<div class="wrapper contact">
	<h1>contact</h1>
	<p>Like what you see? Feel free to contact me via <a href="mailto:dawndelatte@gmail.com">email</a> or <a href="https://twitter.com/dawndig">twitter</a>, and checkout my <a href="#">r&eacute;sum&eacute;</a>!</p>
</div>

     {% include footer.html %}