---
layout: portfolio
---

{% include header.html %}


<div class="port_mama">
<section class="about_intro" id="top">
<div class="about_wrap">
	<div class="about_intro_text">
		<h2>Hi there, I'm Dawn.</h2>
		<p> I’m a design leader, mentor, and strategist. I’ve spent the last 9 years consulting at <a href="https://thoughtbot.com/">thoughtbot</a> in various capacities. My best experiences have been meeting new clients, deeply understanding their problems, and using critical thinking, customer discovery, and product validation practices to hone in on a new product solution for their businesses. I’ve had the honor of managing and learning from other consultants, and collaborating with incredibly talented product designers and engineers.
		</p>
	</div>
</div>
</section>
<div class="wrapper about_mama">
	<div class="about_body">
		<p>When I'm not consulting, I'm wrangling two young kids and enjoying the beautiful hill-country of Austin, Texas.</p>
		<p> Feel free to check out my <a href="../site_assets/dawndelatte-resume-may24.pdf" target="_blank">r&eacute;sum&eacute;</a> and <a href="../site_assets/dawn-delatte-portfolio.pdf" target="_blank">portfolio</a>. Want to know more? <a href="mailto:dawndelatte@gmail.com">Let's chat!</a></p>
	</div>
</div>

</div>
     {% include footer.html %}
