---
layout: portfolio
---

<!-- {% include header.html %} -->

{% include about.html %}

<!-- <div class="port_mama">
	<h1 class="wrapper">Design <span>&amp;</span><br>Development</h1>

	<div class="thumbnails_mama">

		<a class="port_thumbnails br_thumb" href="../portfolio/bagelrunner.html"><div class="overlay"><p class="title">Bagel Runner<br><span class="description">Mobile Game Illustration</span></p></div></a>

		<a class="port_thumbnails fqf_thumb" href="../portfolio/fqf.html"><div class="overlay"><p class="title">French Quarter Festival<br><span class="description">UI/UX &amp; Development</span></p></div></a>

		<a class="port_thumbnails goodreads_thumb" href="../portfolio/goodreads.html"><div class="overlay"><p class="title">GoodReads<br><span class="description">UI/UX &amp; Logo Design</span></p></div></a>

		<a class="port_thumbnails shero_thumb" href="../portfolio/tiy_hackathon.html"><div class="overlay"><p class="title">Shero App<br><span class="description">Web/Mobile App Design &amp; Development</span></p></div></a>

		<a class="port_thumbnails abgb_thumb" href="../portfolio/abgb.html"><div class="overlay"><p class="title">ABGB<br><span class="description">Web Design &amp; Logo Design</span></p></div></a>

		<a class="port_thumbnails csszen_thumb" href="../portfolio/css_zengarden.html"><div class="overlay"><p class="title">CSS Zen Garden<br><span class="description">CSS Animation &amp; Web Design</span></p></div></a>


	</div>
</div> -->


     {% include footer.html %}
