---
layout: spiceworks
---

{% include header.html %}

<div class="spiceworks_mama wrapper">
	<section class="reports_web">
		<h3>Digital Reports , Web, &amp; Email</h3>
		<img src="../site_assets/spiceworks/reports_web/mars-venus-report-dribbs.png">
		<img src="../site_assets/spiceworks/reports_web/mars-venus-layout-dribbs.png">
<!-- 		<img src="../site_assets/spiceworks/reports_web/mars-venus-graphic-dribbs.png"> -->
		<img src="../site_assets/spiceworks/reports_web/ota-email-template.png">
		<img src="../site_assets/spiceworks/reports_web/landing-page1.png">
	</section>
	<section class="spiceworld">
		<h3>SpiceWorld 2015 &amp; 2016</h3>
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-icons1.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-icons2.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-brand1.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-brand2.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-signage2.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-signage3.png">
		<img src="../site_assets/spiceworks/spiceworld/spiceworld-shuttle.png">
		<div class="group">
			<img src="../site_assets/spiceworks/spiceworld/ann-bookmark.png">
			<img src="../site_assets/spiceworks/spiceworld/ann-bookmark2.png">
		</div>
	</section>
	<section class="events">
		<h3>Event booths &amp; collatoral</h3>
		<img src="../site_assets/spiceworks/events/marketo-booth.png">
		<img src="../site_assets/spiceworks/events/event-collatoral.png">
	</section>
	<section class="ads_emails">
		<h3>Ads &amp; Email images</h3>
		<img src="../site_assets/spiceworks/ads_emails/newsfeed-ad1.jpg">
		<img src="../site_assets/spiceworks/ads_emails/newsfeed-ad2.gif">
		<img src="../site_assets/spiceworks/ads_emails/soit-social.png">
		<img src="../site_assets/spiceworks/ads_emails/soit-twitter.jpg">
		<img src="../site_assets/spiceworks/ads_emails/soit-ad1.png">
		<img src="../site_assets/spiceworks/ads_emails/soit-ad3.png">
		<img src="../site_assets/spiceworks/ads_emails/unplugged-ad1.jpg">
		<img src="../site_assets/spiceworks/ads_emails/unplugged-ad2.jpg">
	</section>
</div>

     {% include footer.html %}